.wbdv-sticky-nav-bar {
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.container {
    padding-top: 58px;
    overflow: auto

}

.color-red {
    color:red;
}

.color-grey {
    color:grey;
}
